/* Untuk Tablet */
@media all and (max-width: 1000px) {
  header {
    width :50%;
  }
  .lesson {
    width: 50%;
    
  }
  .top-wrapper h1 {
    font-weight: normal;
  }
  .top-wrapper p {
    font-weight: normal;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  .heading h3 {
    font-weight: normal;
  }
  .lesson-icon img {
    width:50%;
  }
    
  .footer {
    text-align: center ;
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  header {
    width: 100%;
  }
  .lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
    width:100%
  }
  
  .btn {
    width: 100%;
  }
  
  .lesson-icon img {
    width: 100%;
  }
  .top-wrapper {
    text-align: center;
  }

  .header-right{
    display:none;
  }
  
  .top-wrapper h1 {
    font-weight:normal;
  
  }
  
  .top-wrapper p {
    font-size: px;
    line-height: 20px;
  }

